@{
    ViewData["Title"] = "To-Do List App";
}

<div class="text-center">
    <h1 class="display-4">Task List</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>Hello from our View Template!</p>
